<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "achieve one's goal", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Participating_Room",    participating_room_path %></li>
        <li><%= link_to "Training_Menu",    training_menu_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>